.btn-main {
    border: none;
    padding: 15px 60px;
    text-transform: uppercase;
    color: #EAEBEF;
    background-color: #E84546;
}

@media screen and (max-width: 680px) {
    .btn-main {
        padding: 10px 30px;
        font-size: 12px;
    }
}