@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

:root {
    --orange: #E84343;
    --darkText: #505153;
    --lightText: #76777C;
    --lightGray: #C7CBCE;
}

html {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: var(--lightText); */
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   font-weight: normal;
}

h1 {
    font-size: 46px;
}
  
h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 14px;
  }

  button {
    font-weight: normal;
    cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

.page-content-wrapper {
    max-width: 65%;
    margin: 0 auto;
}

.social-link {
  padding: 10px 12px 7px 12px;
  border: 1px solid var(--lightGray);
  margin-right: 5px;
}

.social-icon {
  color: var(--lightGray);
}

.social-icon--linedIn {
  padding: 2px 3px;
  background-color: var(--lightGray);
  color: #fff;
}