@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

.testimonials {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-wrapper {
    overflow: hidden;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel-slide {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-slide.initial,
.carousel-slide.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-slide.prev,
.carousel-slide.next {
    z-index: 800;
}

.carousel-slide.prev {
    transform: translateX(-100%);
}

.carousel-slide.next {
    transform: translateX(100%);
}

.carousel-button--prev,
.carousel-button--next {
  position: absolute;
  top:50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--lightGray);
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border: 1px solid black;
}

.carousel-button--prev {
    left:0;
  }
  .carousel-button--next {
    right:0;
  }
  .carousel-button--prev::after,
  .carousel-button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 60%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  .carousel-button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.carousel-slide-text {
    width: 50%;
    background-color: #523549;
}

.carousel-slide-text-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.carousel-slide-text-container h5{
    font-family: 'Cardo', serif;
    font-size: 24px;
    color: #ffff;
}

.carousel-slide-text-container p{
    width: 50%;
    color: #ffff;
    font-weight: bold;
}

.carousel-slide-img {
    width: 50%;
    height: 350px;
}

.carousel-slide-img img {
    width: 100%;
    height: 100%;
}